# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Env
.env
!.env.example

# Node
node_modules/
.next/
out/
.npm

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Terraform
infra/terraform/.terraform/
*.tfstate
*.tfstate.backup

# Logs
*.log
